.git
.gitignore
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath
.DS_Store
Thumbs.db
local-env/
deploy/
*.md
LICENSE
app/src/test/
*.log
*.tmp
*.swp
